@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
		<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
		<script>
			@* WebJars+RequireJS setup, so that we can `require` third party JS *@
			var require = {
				callback: function(){
					@for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
						requirejs.config(@Html(webJarJson.toString));
					}

					requirejs.config({
						shim: {
							'Bacon': ['jquery']
						}
					})
				}
			}
		</script>
	</head>
	<body>
		<div class="container">
			@content
		</div>
	</body>
</html>
